<style>
/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading #modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading #modal {
    display: block;
}
</style>
<div id="modal">
</div>