{% style %}
  .presale-info-box {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .presale-info-box__content {
    line-height: 1.5;
  }

  .presale-info-box__content h1,
  .presale-info-box__content h2,
  .presale-info-box__content h3,
  .presale-info-box__content h4,
  .presale-info-box__content h5,
  .presale-info-box__content h6 {
    margin: 0 0 10px 0;
  }

  .presale-info-box__content p {
    margin: 0 0 10px 0;
  }

  .presale-info-box__content p:last-child {
    margin-bottom: 0;
  }

  .presale-info-box__content ul,
  .presale-info-box__content ol {
    margin: 0 0 10px 0;
    padding-left: 20px;
  }

  .presale-info-box__content li {
    margin-bottom: 5px;
  }

  .presale-info-box__content strong,
  .presale-info-box__content b {
    font-weight: bold;
  }

  .presale-info-box__content em,
  .presale-info-box__content i {
    font-style: italic;
  }

  .presale-info-box__content a {
    color: inherit;
    text-decoration: underline;
  }

  .presale-info-box__content a:hover {
    text-decoration: none;
  }
{% endstyle %}

<div class="presale-info-box">
  <div class="presale-info-box__content">
    {% if info %}
      {{ info | metafield_tag }}
    {% else %}
      <p>Presale information will be displayed here.</p>
    {% endif %}
  </div>
</div>
